html {
    box-sizing: border-box;
}

sup {
    font-size: 18px;
    font-style: italic;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.line {
    width: 100%;
    height: 10px;
    margin: 10px;
    background: linear-gradient(90deg, rgb(31, 31, 206) 0%, rgb(0, 109, 199) 100%);
}

body * {
    border-width: 1px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(240, 250, 250, 1);
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.container div {
    margin-left: auto;
    margin-right: auto;
}

.task {
    display: flex;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    padding: 5px;
    padding-left: 8px;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
}

.task-list {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.task-container {
    margin: 4px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(240, 248, 255);
}

.complete {
    background-color: lightgray;
}


.task-container * {
    
}

.task-status {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    user-select: none;
}

.grab-handle {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    user-select: none;
    border-right: solid gray 1px;
    cursor: grab;
}

.grab-handle:active {
    cursor: grabbing;
}

.task-delete {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu {
    width: 100%;
    height: 40px;
    margin: 15px;
    display: flex;
}
.menu-Btn {
    width: 100%;
    margin: 2px;
}

.new-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
}

.new-task-label {
    font-weight: bold;
    font-size: 16px;
    margin: 4px;
}
.new-task-content {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
}

#new-task-text {
    height: 100%;
    width: 100%;
    text-align: left;
    border-radius: 10px;
}
#new-task-text:hover {
    /*background-color: rgb(245, 245, 245);*/
}
#new-task-text:focus {
    /*outline: none;*/
}
#add-task {
    height: 100%;
    border-radius: 50%;
    margin: 5px;
}


.input {
    flex-grow: 1;
    height: 30px;
    box-sizing: border-box;
    padding-left: 8px;
    background-color: aliceblue;
}

.edit-container {
    display: flex;
    align-items: center;
    width: 60%;
    height: 30px;
}

.submit-edit {
    height: 100%;
}


.btn {
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.01);
    border: solid gray 1px;
}
.btn:active {
    transform: scale(0.98);
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.lists * {
    margin: 2px;
}

.list-creator {
    display: flex;
    justify-content: left;
    width: 35%;
    flex-grow: 1;
    min-width: 120px;
}
#btn-new-list {
    width: 30%;
    min-width: 40px;
}
#new-list-name {
    min-width: 75px;
    width: 70%;
    flex-shrink: 1;
}



.list-selector {
    display: flex;
    border: solid gray 2px;
    align-items: flex-end;
    width: 60%;
    min-width: 350px;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: rgb(213, 226, 236);
}

.list-link {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-bottom: none;
    width: 100%;
    height: 85%;
    margin: 0;
    justify-content: center;
    border-top-right-radius: 20px;
    background-color: rgb(185, 216, 241);
}

.ctx-menu {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    background-color: rgb(245, 245, 245);
    flex-shrink: 1;
}

.list_ctx-menu {
}

.ctx-menu-btn {
    height: 40px;
    width: 100%;
    border: none;
}


.default_ctx-menu {
}


.console {
    display: flex;
    position: absolute;
    padding: 10px;
    width: 90%;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid black;
    opacity: 0;
}


.list-edit-menu {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 245, 245);
    height: 80px;
    width: 80%;
}

.list-edit-container {
    padding-top: 3px;
    display: flex;
    height: 35px;
    width: 90%;
}

.list-edit-head {
    display: flex;
    height: 35px;
    width: 90%;
}

.list-edit-head > * {
    height: 100%;
    display: flex;
    align-items: center;
}

.list-edit-container > * {
    height: 100%;
    display: flex;
    align-items: center;
}


.task-priority-0 {
    border: solid 2px;
    border-color: gray;

}

.task-priority-1 {
    border: solid 3px;
    border-color: gray;
}

.task-priority-2 {
    border: solid 4px;
    border-color: #ffa600;
}

.task-priority-3 {
    border: solid 4px;
    border-color: #ff6347;
}

.task-priority-4 {
    border: solid 6px;
    border-color: black;
}

.task-edit-menu {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 245, 245);
    height: 80px;
    width: 80%;
}

footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

hr {
    width: 100%
}

.hyperlinks {
    width: 100%;
    display: flex;
}

.hyperlink {
    margin: auto;
}


.header {
}