html {zoom: 90%;}

#body { 
    zoom: 90%;
    height: auto;
}

#display {
    text-align: center;
    height: 30px;
    line-height: 70px;
    padding: 8px 4px;
    font-size: 75px;
}

.buttons {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.button {
    line-height: 100px;
    text-align: center;
    font-size: 25px;
}

